.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}
.banner{
  text-align: left;
  display: flex;
  margin: 171px 192px 80px 192px;
  padding-top: 171px;
  background-image: url("../images/Pic.png");
  filter: drop-shadow(0px -40px 120px rgba(255, 92, 0, 0.4));
  background-repeat: no-repeat;
  background-position: right ;
  background-size: 52%;
  .banner-title{
    padding-top: 124px;
    padding-bottom: 226px;
  }
}
.banner-h1{
  font-size: 96px;
  line-height: 120%;
  font-weight: 700;
}
.location{
  text-align: center;
}