.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}
@mixin deskep-xxl{
  @media(max-width:1400px){
  @content;
  }
}
@mixin deskep-xl{
  @media(max-width:1140px){
  @content;
  }
}
@mixin pad{
  @media(max-width:992px){
  @content;
  }
}
@mixin mobile{
  @media(max-width:376px){
  @content;
  }
}
.banner{
  text-align: left;
  display: flex;
  padding-top: 171px;
  margin: 0 180px 80px 180px;
  background-image: url("../images/Pic.png");
  filter: drop-shadow(0px -40px 120px rgba(255, 92, 0, 0.4));
  background-repeat: no-repeat;
  background-position: right ;
  background-size: 55%;
  @include pad{

    background-position: center ;
    justify-content: center;
    margin: 0;
    background-size: 75%;
  }
  @include mobile{
    padding-top: 0;
    background-size: 100%;
  }
  .banner-title{
    padding-top: 242px;
    padding-bottom: 226px;
    @include pad{
      text-align: center;
      padding-bottom: 80px;
    }
    @include mobile{
      padding-top: 133px;
    }
  }
}
.banner-h1{
  font-size: 96px;
  line-height: 120%;
  font-weight: 700;
  @include pad{
    font-size: 32px;
  }
}
.secondary-title{
  margin-bottom: 80px;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include pad{
    margin-bottom: 40px;
    margin-top: 80px;
  }
  .line{
    width: 120px;
    height: 5px;
    background-color: #FF5C00;
  }
}
.location{
  text-align: center;
  margin: 0 180px 80px 180px;
  @include pad{
    margin: 0;
  }
}
.nav-tabs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  border-bottom: 0px;
  @include pad{
    .nav-item{
      width: 10%;
    }

  }
  .nav-link{
    // padding: 0 146px 24px 146px;
    border: 0px solid transparent;
  }
  .nav-line:hover{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom:1px solid #FF5C00;
  }
}
.location-data{
  display: flex;
  justify-content: space-between;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    color: #FF5C00;
    display: flex;
    justify-content: center;
    align-items: center;
    .location-img{
      position: relative;
      width: 636px;
      @include pad{
        width: 100%;
      }
      .img-title{
        text-align: left;
        bottom: 0;
        left:0;
        position: absolute;
      }
      .location-btn{
        position: absolute;
        bottom: 0;
        right:0;
        padding: 56px 24px 56px 24px;
      }
    }
  }
}
.story{
  margin: 0 180px 80px 180px;
  @include pad{
    margin: 0;

  }
  .story-data{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include deskep-xxl{
    justify-content: center;
    margin-bottom: 10px;
  }
  @include deskep-xl{
    justify-content: center;
  }
  @include mobile{
    flex-direction: column;
    justify-content: center;
  }
    .story-img{
      position: relative;
      @include deskep-xl{
        margin-bottom: 60px;
        text-align: center;
      }
      
      img{
        @include deskep-xl{
          width: auto;
        }
        @include mobile{
          width: 100%;
        }
      }
      // 遮罩
      .mask:hover::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: rgba(191, 16, 16, 0.5);
        opacity: 0.7;
        width: 100%;
        height: 100%;
        z-index: 5;
        // @include pad{
        //   width: 90%;
        //   height: 90%;
        // }
      }
      .story-img-border{
        border-radius: 240px 240px 0px 0px;
      }
      .story-title{
        position: absolute;
        bottom: 50%; 
        left:25%;  
        text-align: center;
        z-index: 1;
        @include pad{
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
.lighthouseStore{
  margin: 0 180px 80px 180px;
  @include pad{
    margin: 0;
    padding-bottom: 40px;
  }
}

// .location2{
//   margin: 0 180px 80px 180px;
//   .swiper {
//     width: 100%;
//     height: 100%
//   }

//   .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;
//     color: #FF5C00;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }