<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-gray">
      <div class="container w-100">
        <a class="navbar-brand" href="index.html">
          <img src="./assets/images/Logo.png" alt="LightHouseLogo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pl-1" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll d-flex align-items-center justify-content-between w-100" style="--bs-scroll-height: 100px;">
            <li class="nav-item my-2 mx-5">
              <a class="nav-link text-white active py-2 px-3" aria-current="page" href="index.html">首頁</a>
            </li>
            <li class="nav-item my-2 mx-5">
              <a class="nav-link text-white py-2 px-3" href="./information.html">燈塔資訊</a>
            </li>
            <li class="nav-item my-2 mx-5">
              <a class="nav-link text-white" href="#">心靈雞湯</a>
            </li>
            <li class="nav-item my-2 mx-5">
              <a class="nav-link text-white" href="#">週邊小物</a>
            </li>
            <li class="nav-item my-2 mx-5">
              <a class="nav-link text-white" href="#">查詢訂單</a>
            </li>
          </ul>
          <div class="d-flex icon-ml-1">
            <i class="fa-solid fa-heart icon-p-1 me-3"></i>
            <i class="fa-solid fa-heart icon-p-1 ms-3"></i>

          </div>

            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->

        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer">
      footer
    </footer>
    <script src="https://kit.fontawesome.com/0a85f36948.js" crossorigin="anonymous"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>